{
  "FREE_TEXT_FACILITY_NAME_SUPPORT": true,
  "ALLOW_INCOMPLETE_SUBMIT": true,
  "SERVER_URL": "http://SERVER_URL_VAR:6001",
  "SERVER_URL_IOS": "http://SERVER_URL_VAR:6001",
  "TRACK_LOCATION": false,
  "AUTO_GENERATE_SERIES_NUMBER": true,
  "EMULATOR": true
}